extends layout.pug

block content
  .container(style='background-color: transparent;margin-top: 0px; height:max-content;')
    h2 All Blogs
    .column.justify-content-center
      each blog in blogs
        .col-md-6(style='padding:0;min-width:480px;')
          div
            img.d-block.float-left(style='margin:30px;margin-left:10px;max-width:40%;' src='/static/images/table-629772_640.jpg')
            .float-left(style='margin:30px;margin-left:-70px;width:280px;background-color:#fff;margin-top:40px;height:100%;min-height:160px;max-height:200px;box-shadow:0 0 2px #999;')
              p(style='padding:20px;padding-bottom:0;margin-bottom:0;') 
                strong= `${blog.title}`
              p(style='padding:20px;padding-top:0;')=`${blog.description}`
              a(style='padding:20px;color:#333;' href=`/all-blogs/${blog.id}`) Read More
