doctype html

head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Creative Blog 
  link(rel="stylesheet" href="/static/fonts/font-awesome.min.css")
  link(rel="stylesheet" href="/static/fonts/simple-line-icons.min.css")
  link(rel='stylesheet' href='/static/styles/style.css')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
    body 
        nav.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-dark.navbar-custom
            div.container
                a.navbar-brand(href='/') WIUT_Blogger
                button.navbar-toggler(data-toggle='collapse' data-target='#navbarResponsive')
                    span.navbar-toggler-icon
                div#navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                        a.nav-link(href='/create') CREATE A POST
                        li.nav-item
                        a.nav-link(href='/posts') ALL POSTS
                        li.nav-item
                        a.nav-link(href='/drafts') DRAFTS
        block content
        footer.py-5.bg-black
            div.container
                p.text-center.text-white.m-0.small Copyright&nbsp;&copy; WIUT_Blogger 2021


body 
  nav#sidebar-wrapper.navbar.navbar-light.navbar-expand
    .container
      button.navbar-toggler.d-none(data-toggle='collapse' data-target='#')
      .collapse.navbar-collapse
        ul#sidebar-nav.navbar-nav.sidebar-nav
          li.nav-item.sidebar-nav-item
            a.nav-link.js-scroll-trigger(href='/') Home
          li.nav-item.sidebar-nav-item
            a.nav-link.js-scroll-trigger(href='/all-blogS') All Blogs
          li.nav-item.sidebar-nav-item
            a.nav-link.js-scroll-trigger(href='/add-blog') Create Blog
          li.nav-item.sidebar-nav-item
            a.nav-link.js-scroll-trigger(href='/archive') Archive
  header.text-center.d-flex.flex-row.align-items-baseline.masthead(style='background: url("assets/img/bg-masthead.jpg") top, #efb503; height: max-content')
    nav.navbar.navbar-light.navbar-expand-md.visible.navigation-clean(style='background: #f1b600;')
      .container
        a.navbar-brand(href='/') Creative Blog
        button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse.text-dark(style='font-size: 20px;color: rgb(15,15,16);background: rgba(255,255,255,0);')
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/' style='color: rgb(31,30,30);') Home
            li.nav-item
              a.nav-link(href='/all-blogs' style='color: rgb(14,14,14);font-size: 20px;background: rgba(255,255,255,0);') All Blogs
            li.nav-item
              a.nav-link(href='/add-blog' style='color: rgb(0,0,0);border-style: none;border-color: var(--blue);') Add Blog
            li.nav-item
              a.nav-link(href='/archive' style='color: rgb(14,14,14);font-size: 20px;background: rgba(255,255,255,0);') Archive
    block content

  footer.text-center.footer.mt-1
    .container
      ul.list-inline.mb-5
        li.list-inline-item
          a.text-white.social-link.rounded-circle(href='#')
            i.icon-social-linkedin
        li.list-inline-item
          a.text-white.social-link.rounded-circle(href='#')
            i.icon-paper-plane
        li.list-inline-item
          a.text-white.social-link.rounded-circle(href='#')
            i.icon-social-github
      p.text-muted.mb-0.small(style='font-size: 15.8px;')
        br
        | &ldquo;This web application was created to fulfill Web Technology module&rsquo;s requirements and does not represent an actual company or service&quot;
        br
    a.js-scroll-trigger.scroll-to-top.rounded(href='#page-top')
      i.fa.fa-angle-up
  