extends layout.pug
block content
  .container.text-center.align-self-center(style='background: rgba(255,255,255,0);')
    h1.text-center.mb-1 Creative Blog
    h3.mb-5
      em What is on your mind?
    a.btn.btn-primary.btn-xl.js-scroll-trigger(role='button' data-bss-hover-animate='pulse' href='/add-blog') Start writing
    .overlay
