extends layout

block content
  .container.text-left.d-md-flex.flex-column.justify-content-center.justify-content-md-start.justify-content-xl-center
    h2.text-center.mb-1 Add Blog
    
    .group
      input(type='text' required='')
      span.highlight
      span.bar
      label Title
    .group
      input(type='text' required='')
      span.highlight
      span.bar
      label Brief Description
    .form-group
      textarea#exampleFormControlTextarea3.form-control(name='textarea' cols='7' rows='7' placeholder='Content')
    .overlay
      a.btn.btn-primary.btn-xl.js-scroll-trigger(role='button' data-bss-hover-animate='pulse' href='add-blog.html' style='width: 287px;background: var(--blue);') Add
